@import url(vars.css);
@import url(form.css);

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom,var(--login-gradient-point4), var(--login-grodient-point1), var(--login-gradient-point2), var( --login-gradient-point3) );
}

main{
    border: 1px solid var(--navbar-bg);
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}

.login-footer{
    border-top: 1px solid #b9b8b8;
    padding-top: 5px;
}

.login-footer > span {
    font-size: 1em;
    font-weight: 500;
}

.login-footer > span > a{
    font-size: 1em;
    color: #413737;
    text-decoration: underline;
}

.login-footer > span >a:hover{
    filter: (80%);
}