@import url(form.css);
@import url(vars.css);
@import url(scroll.css);

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: calc(100vh - 3em - 16px);
    margin-left: 10px;
    margin-right: 10px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
}

#editar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.button{
    float: none;

}

#edit-form{
    width: 40vw;
    flex-grow: 1;
}

#form-endereco,#form-pagamento{
    width: 40vw;
    flex-grow: 1;
    display: none;
    margin-top: 15px;
}

#endereco-button,
#pagamento-button{
    display: none;
}

.collapse{
    min-width: 40vw;
    flex-grow: 1;
}

label[for="endereco-button"], label[for="pagamento-button"]{
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 5px;

    cursor: pointer;
    background-color: var(--checkout-link-color);
    color: var(--navbar-color);
    border-radius: 8px;
}

label[for="endereco-button"]:hover, label[for="pagamento-button"]:hover,
.collapse-button:checked ~ label[for="endereco-button"],
.collapse-button:checked ~label[for="pagamento-button"]{
    filter: brightness(80%)
}

.collapse-button:checked ~ #form-endereco,
.collapse-button:checked ~ #form-pagamento{
    display: block;
    max-width: fit-content;
}

nav {
    background-color: var(--navbar-bg);
    color: var(--navbar-color);
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-menu > a{
    text-decoration: none;
    color: var(--navbar-color);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-size: 1.3em;
}

.user-menu > a >span{
   font-size: .6em;
}

footer{
    text-align: center;
    background-color: black;
    color: var(--navbar-color);
    padding: 10px 0;
}

